.AppContainer {
    max-width: 1280px;
    padding: 0 10px;
    margin: 0 auto;
}

.verticalCenter {
    display: flex;
    align-items: center;
}

.horizontalCenter {
    display: flex;
    justify-content: center;
}

.fullHeight {
    height: 100vh;
}
