@import "shared/config/vars/vars.scss";

.container {
    flex-direction: column;
}

.itemsContainer {
    width: 100%;
    max-width: 240px;
}

.marginBottom {
    margin-bottom: 12px;
}

@media (max-width: $size-extra-small) {
    .container {
        height: auto;
    }
}
