@import "shared/config/vars/vars.scss";

$margin: 8px;

.card {
    display: flex;
    width: 100%;
}

.button {
    flex: 1;
    margin-right: $margin;
}

@media (max-width: $size-extra-small) {
    .card {
        flex-direction: column;
    }

    .button {
        margin-right: 0;
        margin-bottom: $margin;
    }
}
